/* Custom CSS for ODK Docs */

/* document font styling PR #90 */

.document {
    font-family: Georgia, "Times New Roman", serif;
} 

/* Styling for rst roles and directives starts */

/* code-sample styling PR #90 */ 

div.highlight pre, pre {
    font-size: 14px;
    padding: 14px;
}

/* default wrap for rst overflow lines PR #310 */

div[class^='highlight-rst'] pre {
    white-space: pre-wrap;
}


/* table stying, th and tc role PR #90 */

table, .th, .tc {
    font-family: Calibri, Arial, Helvetica, sans;
}

/* th role PR #90 */

.th {
    font-weight: bold;
}

/* formstate role PR #111 */

.formstate {
    font-style: italics;
}

/* gesture role PR #111 */

.gesture {
    font-style: italics;
}

/* caption styling PR #90 */

caption {
    padding-top: 0 !important;
    text-align: left !important;
    font-style: normal !important;
}


caption .headerlink {
    visibility: hidden;    
}

caption .headerlink::after {
    content: "\f0c1";
    font-family: FontAwesome;
    visibility: visible;
    font-size: 75%;
}

/* screenshot styling PR #90 */

.rst-content img, .rst-content video {
    max-height: 85vh !important;
    width: auto !important;
    margin-bottom: 24px;
}

/* styling for side-by-side images PR #361 */

.rst-content img.side-by-side {
    max-height: none !important;
    max-width: 45%
}

/* Figure caption styling PR #371 */

.figure{
   display: table;
 }
 
.figure p.caption{
   border-top: solid 10px #fcfcfc;
   padding: 10px;
   display: table-caption;
   caption-side: bottom;
   background-color: darkgray;
   color: #fcfcfc;
   font-size: 85%;
   text-align: center;
 }

/* admonition styling PR #178 */

[class^="admonition-"] {
      
               background-attachment: scroll;
               background-clip: border-box;
               background-color: rgb(231, 242, 250);
               background-image: none;
               background-origin: padding-box;
               background-position: 0% 0%;
               background-position-x: 0%;
               background-position-y: 0%;
               background-repeat: repeat;
               background-size: auto auto;
               box-sizing: border-box;
               color: rgb(64, 64, 64);
               font-family: Georgia,"Times New Roman",serif;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               margin-bottom: 24px;
               padding-bottom: 12px;
               padding-left: 12px;
               padding-right: 12px;
               padding-top: 12px;
          
}

/* menuselection styling in toctree PR #405 */

[class^='toctree-'] .menuselection {
    background: none;
    border: none;
    margin: unset;
    padding: unset;
    font-weight: inherit;
    color: inherit;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    box-sizing: unset;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* menuselection role styling PR #173 PR #175 */

.menuselection {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(231, 242, 250);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(127, 187, 227);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(127, 187, 227);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(127, 187, 227);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(127, 187, 227);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    font-family: Georgia,"Times New Roman",serif;
    font-size: 12.8px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    padding-bottom: 2.4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2.4px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

/* Upgrade notes admonition PR #297 */

/* upgrade admonition styling */

.upgrade {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: lemonchiffon;
   background-image: none;
   background-origin: padding-box;
   background-position: 0% 0%;
   background-position-x: 0%;
   background-position-y: 0%;
   background-repeat: repeat;
   background-size: auto auto;
   box-sizing: border-box;
   color: rgb(64, 64, 64);
   font-family: Georgia,"Times New Roman",serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 24px;
   padding-bottom: 12px;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 12px;
}

/* upgrade admonition title styling */

.upgrade p.first.admonition-title{
    font-weight: bold;
    display: block;
    color: #fff;
    background: orange;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

/* Styling for rst roles and directives ends */

/* Responsive css starts */

/* Responsive footer buttons PR #152 */

@media screen and (max-width: 950px) {
    .btn{
        margin-bottom: 1em;
        width: 100%;
    }
}

/* Responsive css ends */

/* Styles related to JS implementation starts */

/* Styles related to details-like JS implementation PR #361 */

.toggler {
    font-weight: bold;
    font-variant: small-caps;
    color: #2980B9;
    cursor: pointer;
    padding-bottom: 12px;
}
.toggle-sign {
    width: 1.5em;
}
.has-details {
    margin-bottom: 12px;
}

/* Styles related to JS implementation ends */

/* Utility Classes starts */

/* footer text styling PR #130 */

.footerText {
    color: black;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 16px;
    font-weight: 300;
}

/* block class to fix image weirdness PR #361 */

.block {
    display: block;
}

/* wrap and unwrap classes PR #310 */

div[class^='wrap'] pre {
    white-space: pre-wrap;
}

div[class^='unwrap'] pre {
    white-space: pre;
}

/* Utility classes ends */