# compiled
__pycache__/
.pyc

# build
build/
*-build/
tmp*

# emacs backups
\#*\#
.\#*

# macOS
.DS_Store

# pyenv
.python-version

# literate programming
style-checks.py
extra.py

# Testing
.hypothesis/
.pytest_cache/

# IDE files
.idea/