version: 2
jobs:
  build:
    working_directory: ~/work
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - run:
          name: Install checkout requirements
          command: |
            curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
            sudo apt-get install git-lfs
            git lfs install
      - run:
          name: Checkout binaries
          command: git lfs pull
      - run:
          name: Install build requirements
          command: |
            sudo apt-get install pngquant
            sudo apt-get install python-enchant
            sudo pip install -r requirements.txt
      - run:
          name: Style Guide Testing
          command: |
            paths=$(git diff origin/master... --name-only)
            sudo python style-test.py $paths
      - run:
          name: Spell Checker
          command: sphinx-build -W -b spelling src build/spelling
      - run:
          name: Build docs
          command: sphinx-build -W -b dirhtml src build
      - run:
          name: Compress images
          command: pngquant build/_images/*.png --force --ext .png --verbose
      - run:
	  name: Push translations
          command: |
            sudo echo $'[https://www.transifex.com]\nhostname = https://www.transifex.com\nusername = '"$TRANSIFEX_USER"$'\npassword =      		    '"$TRANSIFEX_PASSWORD"$'\ntoken = '"$TRANSIFEX_API_TOKEN"$'\n' > ~/.transifexrc
            tx push -s
      - store_artifacts:
          path: build
          destination: build
      - persist_to_workspace:
          root: ~/work
          paths:
            - build/*
            - s3_website.yml
  deploy:
    working_directory: ~/work
    docker:
      - image: circleci/ruby:latest
    steps:
      - attach_workspace:
          at: ~/work
      - run:
          name: Install deploy requirements
          command: |
              if [[ "$CIRCLE_PROJECT_USERNAME" == "opendatakit" ]]; then \
                sudo apt-get install -y openjdk-8-jre-headless
                gem install s3_website && s3_website install
              fi
      - run:
          name: Push to S3
          command: |
              if [[ "$CIRCLE_PROJECT_USERNAME" == "opendatakit" ]]; then \
                s3_website push
              fi
workflows:
  version: 2
  build_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          # We'd like to also filter by username and remove the if/fi above, but username filtering is not supported in CircleCI
          filters:
            branches:
              only: master
