
/* match logo size on main site */
.sidebar-logo {
    margin-top: 16px;
    height: 45px;
}

/* move announcement to bottom and allow wrapping */
.announcement {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 100;
    text-align: center;
}
.announcement-content {
    white-space: normal;
    line-height: 1.5;
}

/* keep announcement on footer from covering content */
.main {
    padding-bottom: 60px;
}
.sidebar-drawer {
    padding-bottom: 62px;
}

.device-screen-vertical {
    width: 365px;
}

table.schema-table-wrap {
    width: 100%;    
}
table.schema-tabl-wrap td:last-child, table.schema-table-wrap td:first-child {
    border: none
}
table.schema-table {
    width: 100%;    
}
table.schema-table td:last-child, table.schema-table td:first-child {
    border: 1px solid #303335;
}
details.sd-dropdown details.nested-schema > summary:first-of-type{
    list-style: inside disclosure-closed;
}
details.sd-dropdown details.nested-schema[open] > summary:first-of-type{
    list-style: inside disclosure-open;
}

:root {
    --sd-color-success: #FFDBB9;
    --sd-color-success-text: #212529;
}

.menuselection {
    border: 1px solid var(--color-guilabel-border);
    background: var(--color-guilabel-background);
    font-weight: 500;
    border-radius: 4px;
    padding: 4px 6px;
}
