.. list-table::
  :class: schema-table-wrap

  * - {{ type }}

      {{# isArray }}
      {{# items }}

      {{> table }}
      {{/ items}}
      {{/ isArray }}

      {{^ isArray }}  

      {{> table }}
      {{/ isArray }}  
