{{# hasItems }}
.. list-table::
    :widths: 25 75
    :class: schema-table
    
{{/ hasItems }}    
    {{# items }}
    * - {{ name }}

        {{# in }}
        *({{.}})*
        {{/ in }}

      - ``{{ type }}``
      
        {{# description }}
        .. raw:: html

          {{{.}}}
        {{/ description }}

        {{# example }}
        Example: ``{{{.}}}``
        {{/ example }}
        {{# hasItems }}
        {{# isArray }}
        {{# items }}
        {{# hasItems }}
        .. collapse:: expand
          :class: nested-schema
        
          {{> table }}
        {{/ hasItems }}
        {{/ items}}
        {{/ isArray }}

        {{^ isArray }}  
        .. collapse:: expand
          :class: nested-schema

          {{> table }}
        {{/ isArray }} 
        {{/ hasItems }}
    {{/ items}}
